<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% 5.times do %>
  <div data-controller="user">
    <input data-user-target="id" type="text">
    <button data-action="click->user#fetch">
      Fetch
    </button>
    <span data-user-target="name">
    </span>
  </div>
<% end %>
